<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weikun.dao.PetMapper" >
    <select id="queryProductByPro" statementType="CALLABLE"
            resultMap="com.weikun.dao.ProductMapper.BaseResultMap"
            parameterType="java.util.Map">

        <![CDATA[
          call queryPet4(

            #{in_catid , mode=IN ,jdbcType=VARCHAR},
	        #{in_productid ,mode=IN ,jdbcType=VARCHAR},
	        #{in_itemid,  mode=IN ,jdbcType=VARCHAR}
          )

        ]]>
    </select>


    <select id="queryItemsByPro"
            statementType="CALLABLE"
            resultMap="com.weikun.dao.ItemMapper.BaseResultMap"
            parameterType="java.util.Map">

        <![CDATA[
          call queryPet4(

            #{in_catid , mode=IN ,jdbcType=VARCHAR},
	        #{in_productid ,mode=IN ,jdbcType=VARCHAR},
	        #{in_itemid,  mode=IN ,jdbcType=VARCHAR}
          )

        ]]>
    </select>

</mapper>